<%= form_tag("/users/mailgroupe") do %>
  <%= form_for :person do |f| %>
    <% @contacts.each do |contact| %>
      <%= f.check_box contact.email %><%= contact.first_name %> <%= contact.last_name %>: <%= contact.email %><br>
    <% end %>
    <%= f.label "Sujet" %> <%= f.text_field :subject %><br>
    <%= f.text_area :body %><br>
    <span class ="btn btn-default"><%= f.submit "Envoyer un mail" %></span>
    
  <% end %>
<% end %>

 