<div class = "container">
  <div class="row">
    <div class="col-sm-12 col-md-12 main panel panel-default">
      <div class="row panel panel-header user_bg">
        <%= image_tag @qr %>
        <h3>
          <% if @user.first_name.present? %>
            <%= @user.first_name %>
          <% end %>
          <% if @user.last_name.present? %>
            <%= @user.last_name %>
          <% end %>
        </h3>
        <p><%= @user.email %></p>
      </div>
        <div class="row panel panel-body">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 placeholder">
            <% if current_user.is_admin? %>
            <%= link_to rails_admin_path do %>
            <div class ='coloradmin'>
              <i class="fa fa-wrench img-responsive"></i>
              <span>Administration</span>
            </div>
            <% end %>
            <% end %>
          </div>
          <!-- <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 placeholder">
            <%= link_to user_contacts_path do %>
            <div class ='colorprofil'>
              <i class="fa fa-user img-responsive"></i>
              <span>Mon profil</span>
            </div>
            <% end %>
          </div> -->
          <div <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 placeholder">
            <%= link_to "#" do %>
            <div class ='colorqrcode'>
              <i class="fa fa-qrcode img-responsive"></i>
              <span data-toggle="modal" data-target="#myModal">Ma carte de visite</span>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Scaner le qrcode</h4>
                  </div>
                  <div class="modal-body">
                    <%= image_tag @qr, class: "qrcode" %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 placeholder">
            <%= link_to user_contacts_path do %>
            <div class="colorcontact">
              <i class="fa fa-users img-responsive"></i>
              <span>Mes contacts</span>
            </div>
            <% end %>
          </div>
          <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 placeholder">
            <%= link_to destroy_user_session_path, method: :delete do %>
            <div class = "colordeco">
              <i class="fa fa-envelope-o img-responsive"></i>
              <span>Deconnexion</span>
            </div>
            <% end %>
          </div>
        </div>
      <div>
    </div>
  </div>
</div>