<!-- <div class="user_bg">
  <div class="row show avatar user_avatar">
      <%= image_tag @qr %>
      <p><%= @user.first_name %></p>
      <p><%= @user.email %></p>
  </div>
</div>
<div class ="row user_show">
  
  <div class=" row show user_info cvisite">
    <a href="#"><i class="fa fa-users radius"></i><div class="user_element">
      Mes contacts
    </div></a>
  </div>
  <div class=" row show user_info mcontact">
    <a href="#"><i class="fa fa-qrcode radius"></i><div class="user_element">
      <%= link_to 'Ma carte de viste', user_contacts_path  %></a>
    </div>
  </div>

</div> -->
<div class="row">
  <div class="col-sm-12 col-md-12 main panel panel-default">
    <div class="row panel panel-header">
      <%= image_tag @qr %>
      <p><%= @user.first_name %></p>
      <p><%= @user.email %></p>
    </div>
    <div class="row panel panel-body">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 placeholder">
        <%= link_to user_contacts_path do %>
        <div class ='colorqrcode'>
          <i class="fa fa-qrcode img-responsive"></i>
          <span>Ma carte de visite</span>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 placeholder">
        <%= link_to user_contacts_path do %>
        <div class="colorcontact">
          <i class="fa fa-users img-responsive"></i>
          <span>Mes contacts</span>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 placeholder">
        <%= link_to user_contacts_path do %>
        <div class = "colordeco">
          <i class="fa fa-envelope-o img-responsive"></i>
          <span>Deconnexion</span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>