<div class="row">
  <div class="col-md-4 col-md-offset-4 session_bg">
    <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :prenom %><br />
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :titre %><br />
        <%= f.text_field :function, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :structure %><br />
        <%= f.text_field :organisation, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %><br />
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-md btn-primary btn-block" %>
      </div>
    <% end %>

    <h3>Suppression de compte</h3>

    <p>Pas content? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Cette action supprimera définitivement votre compte! Continuer ?" }, method: :delete %></p>

    <%= link_to "Retour", :back %>
  </div>
</div>
